<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
</body>
<h2>FILL DETAILS HERE</h2>
    <form action="/" class="formcolors">
     <div class="gty">
         NAME : <input type="text" name="my name">
     </div>
     <br>
     <div class="gty">
         ADDRESS : <input type="text" name="add">
     </div>
     <br>
    <div class="gty">
        EMAIL : <input type="email" name="my email">
    </div>
    <br>
    <div class="gty">
        GENDER : male <input type="radio" name="gendertype"> female <input type="radio" name="gendertype">
    </div>
    <br>
    <div class="gty">
        AGE : <input type="number" name="age">
    </div>
    <br>
    <div class="gty">
        WEBSITE : <input type="url" name="YourWebsite">
    </div>
    <br>
    <div class="gty" id="chcolor">
        ARE YOU A HUMAN? <input type="checkbox" checked name="confirm">
    </div>
    <br>
    <div class="gty">
        SUBMIT HERE : <input type="submit" name="sumbmit now">
    </div>
    <br>
    <div class="gty">
        RESET HERE : <input type="reset" name="reset button">
    </div>
    </form>
<body>
</html>