extends base.pug

block scripts 
    script(src='bone.css')

block style 
    style
        include ../static/style.css

block content 
  h2 Welcome to my Blog 
  p#para 
    |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi praesentium, ratione reprehenderit nobis
    |eius minima eaque, sit dignissimos nesciunt dicta nemo fugit illo beatae aut nisi eveniet dolorum sed.
    |Expedita, nisi sit molestiae maiores eius esse laudantium unde ut molestias quasi eum voluptas animi non 
    |ab doloremque sapiente quaerat officia ipsum quam quos laborum, distinctio quis. Repudiandae reprehender
    |it error culpa facilis.