doctype html 
html 
    head 
        style
            include ../static/style.css

    body
        h1#iam  My site 
        ul 
            li #[a(href='/') Home ]
            li #[a(href='/') Services ]
            li #[a(href='/') About us ]