#iam{
    color:red;
}

h2 {
    color: rgb(1, 1, 15);
    border: 2px rgb(236, 11, 11);
    font-family: cursive;
    text-align: center;
}
*{
    box-sizing: border-box;
}
body{
    background-image: url(bodybackground.jpg);
}
.formcolors
{
    background-color: rgb(18, 1, 49);
    color:crimson;
    font-family: 'Dancing Script', cursive;
    border:1px solid white;
    font-size: 10px;
    margin-left: 150px;
    margin-right: 150px;
    background-image: url(formbackgroundimage.jpg);
    background-repeat: no-repeat;
    /* background-position: 1920px; */
}

#chcolor{
    color: rgb(14, 1, 1);
    border: 2px solid rgb(46, 1, 1);
    padding: 2px;
    margin: 3px;
    font-style: italic;
    font-weight: bold;
    border-left: 100px;
    border-right: 100px;
}
input[type='submit']
{
border: 1px solid forestgreen;
background-color: blue;
}
input[type='reset']
{
border: 1px solid forestgreen;
background-color: rgb(126, 6, 32);
}

.gty:hover
{
    border-color: darkgreen;
}
.gty
{
    border:1 px solid red;
}
input[type='submit']:hover
{
    background-color: rgb(3, 63, 26);
}
input[type='reset']:hover
{
    background-color: rgb(97, 100, 233);
}
.menuscust
{
   color: red;
   border:3px solid blue;
   border-radius: 20px;
   text-decoration: none;
}

.menuscust:hover{
    color: rgb(29, 14, 240);
}
.menuscust li
{
    float:left;
    list-style-type: none;
    text-decoration: none;
    margin:5px;
    padding:5px 5px;
}
.menuscust ul{
    overflow:auto;
}
.menuscust li:hover
{
    border:2px solid red;
}
.searchh
{   
    float:right;
    padding:2px 5px;
    margin:2px 5px;
    position:fixed;
    right:30px;
    top: 30px;
    text-align: end;

}
.search:hover
{
    background-color: rgb(245, 10, 10);
}
body{
    height:3400px;
}
#para
{
    border:2px solid red;
    margin:auto;
    padding:32px 33px;
}